<h1>Slytherin - <%= facade.student_count %> Students</h1>

<% facade.students.each do |student| %>
<div class="student">
  <p class="name"><%= student[:name] %></p> - <p class="id"><%= student[:id] %></p>

</div>
<% end %>
