<h1><%= facade.house_name %> - <%= facade.student_count %> Students</h1>
<br>

<% facade.students.each do |student| %>
<div class="student">
  <p class="name">
    Name: <%= student["name"] %>
  </p>
  <p class="id">
    ID: <%= student["id"] %>
  </p>
  <br>
</div>
<% end %>
